.lesson__div-chat {
  border: 2px solid rgba(93, 176, 199, 75%);
  /* border: 1px solid #2a2e37; */
  border-radius: 9px;
  /* background-color: #f4f3f8; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  /* min-height: 420px; */
  height: 768px;
  overflow: hidden;
  background-color: #1A191E;
  /* box-shadow: 10px 10px 15px rgba(93, 176, 199, 35%) */
  /* padding: 2em 0; */
  
}
/* .lesson__div-chat-contacts {
  min-width: 450px;
  border-right: 1px solid white;
} */
.lesson__div-chat-contacts-headline {
  margin: 0 0 2em 0;
  color: white;
}

.lesson__div-chat-contacts-wrapper {
  background-color: #1F1F21;
  overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 210px;
}

.lesson__div-chat-contacts-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: #1A191E;
}

.lesson__div-chat-contacts-wrapper::-webkit-scrollbar-thumb {
  background-color: #2D2C32;

}

.lesson__div-chat-contacts {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #1F1F21;
  width: 100%;
  box-sizing: border-box;
  /* padding: 30px 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.lesson__div-chat-contacts-li {
  /* padding: 10px 15px; */
  position: relative;
  /* border-radius: 12px;
  background-color: #2D2C32; */

}

.lesson__div-chat-contacts-li:hover {
  background-color: #313234;
}
.lesson__div-chat-contacts-list-element:not(:last-of-type) {
  margin: 0 0 2em 0;
}
.lesson__div-chat-contacts-li button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 9px;
  color: rgb(199, 199, 201); 
  background-color: transparent; 
  border: none;
  /* border-radius: 12px;
  background-color: #2D2C32 */
}
.lesson__div-chat-contacts-list-element-button {
  padding: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  cursor: pointer;
}
.lesson__div-chat-contacts-li-name__wrapper {
  display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
    width: 100%;
    /* gap: 5px; */
}
.lesson__div-chat-contacts-li-name__wrapper-span {
  border: 1px solid rgb(93, 176, 199);
  box-sizing: border-box;
  padding: 1px 3px;
  color: rgb(93, 176, 199);
}

.lesson__div-chat-contacts-li-name__wrapper-vip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.lesson__div-chat-contacts-ul::-webkit-scrollbar {
  width: 5px;
  background-color: #EBEBEB;
  border-radius: 9px;
}
.lesson__div-chat-contacts-ul::-webkit-scrollbar-thumb {
  width: 5px;
  /* height: 20px; */
  background-color: #5DB0C7;
  border-radius: 9px;
}
.lesson__div-chat-user-avatar {
  max-width: 55px;
  border-radius: 50px;
}
.lesson__div-chat-user-text-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5em 0;
  width: calc(100% - 85px);
  text-align: left;
  /* position: relative; */
}

.lesson__div-chat-contacts-list-element-status {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--status);
  box-shadow: 0 0 15px var(--status);
  top: 0;
  right: 15px;
  border-radius: 50%;
}
.lesson__div-chat-user-text-name {
  margin: 0 0 0.5em 0;
  font-size: 16px;
}
.lesson__div-chat-textarea {
  width: calc(100% - 450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: white;
 
}
.lesson__div-chat-textarea-messages {
  list-style: none;
  padding: 0 15px;
  width: calc(100% - 200px);
  height: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lesson__div-chat-textarea-messages-message {
  max-width: 230px;
  min-height: 40px;
  
  text-align: left;
  padding: 7px;
  
  border-radius: 10px;
  background-color: #1a1d24;
  position: relative;
}
.lesson__div-chat-textarea-messages-message::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: -3%;
  border-top: 10px solid #1a1d24;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* background-color: white; */
}
.lesson__div-chat-textarea-messages-message:not(:last-of-type) {
  margin: 0 0 15px 0;
}
.lesson__div-chat-textarea-messages-message_self {
  max-width: 230px;
  min-height: 40px;
  
  text-align: left;
  padding: 7px;
  
  border-radius: 10px;
  
  position: relative;
  background-color: #f04c4d;
  align-self: flex-end;
}
.lesson__div-chat-textarea-messages-message_self::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  /* top: 0; */
  bottom: 0;
  right: -9px;
  border-bottom: 10px solid #f04c4d;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.lesson__div-form {
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  position: relative;
}
.lesson__div-form-input {
  min-height: 40px;
  border-radius: 15px;
  width: 100%;
  padding: 5px 10px;
  background-color: #1a1d24;
  color: white;
  /* box-shadow: inset 3px 5px 5px #101115, inset -3px -5px 5px #282b2e; */
  box-shadow: inset 3px 5px 5px #101115, inset -5px -5px 5px #282b2e;
  border: 1px solid #313234;
  outline: none;
}
.lesson__div-form-input:focus {
  border: 1px solid #f04c4d;
}
.lesson__div-form-button {
  position: absolute;
  right: 15px;
  height: 100%;
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #f04c4d;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.lesson__div-chat-conversation-messages {
  height: calc(768px - 131px);
}

.lesson__div-chat-contacts-convo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* padding: 0 0 20px 0; */
  padding: 0;
}

.chat-user {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.lesson__div-chat-contacts-convo-messages {
  width: 100%;
  overflow: auto;
  list-style: none;
  padding: 0 20px;
  /* max-width: 480px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 20px;
  scroll-behavior: smooth;
}

.lesson__div-chat-contacts-convo-messages::-webkit-scrollbar {
  width: 7px;
  background-color: #313234;
}

.lesson__div-chat-contacts-convo-messages::-webkit-scrollbar-thumb {
  background: #5DB0C7;
  width: 5px;
  border-radius: 7px;
  /* height: 1; */
}

.lesson__div-chat-contacts-convo-messages-li {
  /* width: 100%; */
  align-self: flex-start;
  max-width: 50%;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(93, 176, 199);
}

.lesson__div-chat-contacts-convo-messages-li-text {
  padding: 0 15px;
}

.lesson__div-chat-contacts-convo-messages li img, .lesson__div-chat-contacts-convo-messages li video {
  width: 100%;
}

.lesson__div-chat-contacts-convo-div {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  border-top: 2px solid #2D2C32;
}

.lesson__div-chat-contacts-convo-messages-files {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  box-sizing: border-box;
}

.lesson__div-chat-contacts-convo-messages-files li {
  max-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson__div-chat-contacts-convo-messages-files li audio {
  max-width: 240px;
  width: 100%;
}

.lesson__div-chat-contacts-convo-div-homework {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: stretch;
  box-sizing: border-box;
}

.lesson__div-chat-contacts-convo-div-homework button {
  background-color: rgb(93, 176, 199);
  border: none;
  height: 35px;
  border-radius: 3px;
  color: white;
}

.lesson__div-chat-contacts-convo form {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  /* background-color: #2D2C32; */
  border-radius: 9px;
  /* max-width: 440px; */
  /* gap: 15px; */
}

.lesson__div-chat-contacts-convo form input {
  width: 100%;
  border-radius: 9px;
  background-color: #2D2C32;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  color: white;
}

.lesson__div-chat-contacts-convo form button {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #5DB0C7;
  font-size: 18px;
}

.lesson__div-chat-contacts-convo-back {
  display: none;
}

.lesson__div-chat-contacts-li-name__wrapper-notification {
  background-color: #5DB0C7;
  box-sizing: border-box;
  padding: 0;
  aspect-ratio: 1 / 1;
  line-height: 1;
  width: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.lesson__div-chat-contacts-convo-contact {
  display: none;
}

@media screen and (max-width: 1439px) {
  .lesson__div-chat {
    height: 540px
  }
  .lesson__div-chat-conversation-messages {
    height: calc(540px - 131px);
  }
}

@media screen and (max-width: 1023px) {
  .lesson__div-chat-contacts-convo-messages-li {
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .lesson__div-chat-contacts-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .lesson__div-chat-contacts {
    width: 100%;
  }
  .lesson__div-chat-contacts-convo {
    display: none;
  }
  .lesson__div-chat-contacts-convo_active {
    display: flex;
  }
  .lesson__div-chat-contacts-convo-back {
    /* display: ; */
    box-sizing: border-box;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
  }
  .lesson__div-chat-contacts-convo-back button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(93, 176, 199);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson__div-chat-contacts-convo-back button:hover {
    background-color: rgb(93, 176, 199);
  }
  .chat-user {
    justify-content: flex-start;
  }
  .lesson__div-chat-contacts-convo-div {
    margin: auto 0 0 0;
  }
  .lesson__div-chat-contacts-wrapper_hidden {
    display: none;
  }
  .lesson__div-chat-contacts-convo-contact {
    display: block;
  }
  .lesson__div-chat-contacts-convo-messages {
    padding: 0 10px;
  }
  /* .lesson__div-chat-contacts-convo-messages li {
    max-width: 75%;
  } */
}