.course {
  /* background-color: #1f1f21; */
  background-color: #100f13;
  color: white;
  box-sizing: border-box;
  padding: 45px 0;
  min-height: 100vh;
}
.course_container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 25px;
}
.course__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.course__info-namedesc {
  max-width: 420px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
/* .course__info-back {
  display: inline-flex;
  align-items: center;
  gap: 15px;
} */
.course__info-back-btn {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: white;
  /* width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(93, 176, 199);
  border: 2px solid rgb(93, 176, 199);
  color: black; */
}
.course__info-back-btn-svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(93, 176, 199);
  border: 2px solid rgb(93, 176, 199);
  color: black;
  /* font-size: 14px; */
}
.course__info-back-btn p {
  font-size: 20px;
  letter-spacing: 2px;
}
.course__info-headline {
  font-size: 42px;
  line-height: 1;
  margin: 0;
}
.course__info-desc {
  line-height: 1.5;
}
.course__info-namedesc p {
  margin: 0;
}
.course__info-img {
  max-width: 420px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 4px;
  align-self: stretch;
}
.course__programm {
  margin: 50px 0 0 0;
}
.course__programm-div {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 0 0 50px 0;
}
.course__programm-div div {
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.course__p { 
  text-align: left;
  font-size: 20px;
}
.course__ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
}
.course__ul-li {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 15px 30px;
  min-height: 310px;
  /* background-color: #100f13; */
  background-color: #26272c;
  transition: all 0.25s ease-in-out;
}
.course__ul-li:hover {
  translate: 0 -5px;
  /* background-color: #d4d4d6;
  color: black; */
}
.course__ul-li-headline {
  margin: 0;
  font-size: 16px;
}
.course__ul-li-img {
  width: 100%;
  max-width: 210px;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.course__ul-li p {
  margin: 0;
}
.course__ul-li-btn {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    /* background-color: #d4d4d6; */
    /* background-color: rgb(93, 176, 199); */
    background-color: #100f13;
    color: rgb(93, 176, 199);
    border: none;
    /* color: black; */
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
  font-weight: 700;
}

.course__ul-li:hover:hover .course__ul-li-btn {
  background-color: rgb(93, 176, 199);
  color: #100f13;
}

.course__programm-module {
  display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  margin: 0 0 25px 0;
}

.course__programm-module-p {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.course__programm-module-btn {
  background-color: #26272c;
    color: rgb(93, 176, 199);
    padding:  15px 15px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.course__programm-module-btn p {
  margin: 0;
}

/* .course__programm-module-p {
  margin: 0;
} */

.course__ul-lessons {
  padding: 0;
  list-style: none;
  margin: 0;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; */
}

.course__ul-lessons-li {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #26272c;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 25px;
    min-height: 290px;
}

.course__ul-lessons-li-img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.course__ul-lessons-li-p {
  margin: 0 auto;
}

.course__ul-lessons-li-btn {
  background-color: #100f13;
    color: rgb(93, 176, 199);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 9px;
    box-sizing: border-box;
    padding: 0px 15px;
    transition: all 0.25s ease-in-out;
    width: 100%;
}

.course__ul-lessons-li-btn:hover {
  background-color: rgb(93, 176, 199);
  color: #100f13;
}