@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;700&display=swap');

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main__courses {
  display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* align-items: center; */
    align-items: flex-start;
    /* padding: 45px 90px; */
    box-sizing: border-box;
    min-height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* max-width: 1280px; */
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 25px; */
  padding: 40px 25px; 
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Ysabeau SC', sans-serif; */
}

.main__courses-loader {
  align-self: center;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.main__courses-loader-svg {
  width: 75px;
  height: 125px;
  animation: loader 1s ease-in-out 0s infinite alternate;
}

.main__courses-loader-p {
  color: white;
}

.main__courses-list {
  margin: 0;
  padding: 0; 
  list-style: none;
  position: relative;
  z-index: 5;
  /* display: flex;
  align-items:center; 
  justify-content: flex-start;
  overflow: scroll hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; */
  position: relative;
  border-radius: 9px;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(4, 270px); */
  gap: 15px;
  font-family: 'Carlito', sans-serif;
  width: 100%;
  /* margin: auto 0; */
}

.main__courses-list-element {
  scroll-snap-align: center;
  height: 380px;
}

/* .main__courses-list-element:first-child {
  border-radius: 9px 0 0 0;
}; */


.main__courses-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main__courses-list-element-content {
  box-sizing: border-box;
  padding: 0 0 0 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 5;
  background-color: rgb(0 0 0 / 45%);
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

.main__courses-list-element-content-add {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 210px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 15px 0 0 15px;
  /* transition: all 0.25s ease-in-out; */
}

/* .main__courses-list-element-content-add:hover {
  background-color: rgba(0, 0, 0, 0.35);
} */

.main__courses-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 45px 90px;
  z-index: 6;
}

.main__courses-span {
  z-index: 5;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  position: absolute;
  /* top: 60%; */
  top: 50%;
  left: 15%;
  /* left: 90px; */
  color: white;
  letter-spacing: 15px;
  font-weight: 700;
}

.main_courses-wrapper {
  position: relative;
  z-index: 5;
  /* min-height: 400px; */
  /* margin: 20% 35% 0 0; */
  /* margin: 15% 45% 0 0; */
  /* margin: 0 35% 0 0; */
  max-width: 650px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main__courses-headline {
  /* font-size: 42px; */
  font-size: 36px;
  max-width: 450px;
  text-align: left;
  font-weight: 400;
  /* color: rgb(116, 115, 116); */
  color: rgb(209, 209, 209);
  margin: 0 0 50px 0;
  line-height: 1.5;
  /* margin: auto 0; */
  /* margin: auto 35% auto 0; */
  /* margin: 0;
  position: relative;
  z-index: 5;
  color: white;
  font-size: 48px; */
  /* max-width: 420px; */
  /* max-width: 560px;
  text-transform: uppercase;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 10px; */
  /* font-family: 'Chakra Petch', sans-serif; */
   /* font-family: 'Orbitron', sans-serif; */
  /* text-align: left; */
}

.main__courses-para {
  color: white;
  text-align: left;
  max-width: 500px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 500;
}

.main_courses-btn {
  padding: 10px 60px;
    /* background-color: transparent; */
    background-color: #d37c52;
    border: 3px solid #d37c52;
    /* color: #d37c52; */
    color: white;
    text-transform: uppercase;
    /* margin: 5% auto 0 0; */
    /* margin: 5% 50% 0 0; */
    /* width: 50%; */
    font-weight: 700;
    cursor: pointer;
    /* border-radius: 20px;
}

.main__courses-headline-underline {
  height: 2px;
  /* background-color: red; */
}

.main__courses-navigation-wrapper {
  /* position: relative; */
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 30px 90px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  /* margin: 0 0 0 auto; */
}

.main__courses-navigation-text {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.main__courses-navigation-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
}

.main__courses-list_buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

/* .main__courses-list_courses {
  padding: 0;
  margin: 0;
  list
} */

.main__courses-list-li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  background-color: transparent;
}

.main__courses-list-li-button {
  /* background-color: rgba(255, 255, 255, 0.5); */
  border: none;
  min-width: 18px;
  min-height: 3px;
}

.main__no-courses {
  margin: 50px auto;
  color: white;
}

.main__no-courses img {
  max-width: 160px;
}

.main__courses-navigation-button {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 22px;
  color: #fef9e3;
}

.main__courses-ul-li-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main__courses-ul-li-buttons button {
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}


/* .main__courses-list_buttons::after {
  position: absolute;
  content: "<"
}

.main__courses-list_buttons::before {
  position: absolute;
  content: ">"
} */

.main__courses-student {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid white;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  /* transition: all 0.5s ease-in-out; */
}

.course__edit-addModule {
  /* position: absolute; */
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course__edit-addModule-wrapper {
  position: relative;
  width: 100%;
  max-width: 720px;
}

.course__edit-addModule-wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 240px;
}

.course__edit-addModule-wrapper-form-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course__edit-addModule-wrapper-form-data-inputs {
  margin: 0 0 20px 0;
}

.course__edit-addModule-wrapper-form-input {
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  /* border-radius: 9px; */
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  color: white;
  padding: 0 0 0 10px;
  transition: all 0.25s ease-in-out;
  max-width: 360px;
}

.course__edit-addModule-wrapper-form-input:focus {
  outline: none;
  border-bottom: 2px solid #5DB0C7;
}

.course__edit-addModule-wrapper-form-btn {
  padding: 0;
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 2px solid #5DB0C7;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

/* .module-edit {
 
  position: fixed;
  overflow: auto;
  z-index: 75;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  padding: 2% 0px;
  box-sizing: border-box;
}

.module-edit__wrapper {
  position: relative;
  color: white;
  width: 100%;
  max-width: 768px;
}

.module-edit__headline {
  font-size: 36px;
  margin: 0 0 15px 0;
}

.module-edit__close-btn {
  position: absolute;
  top: 3%;
  right: -5%;
  padding: 0px;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(249, 18, 98);
  color: rgb(249, 18, 98);
  background-color: transparent;
  border-radius: 51%;
} */

.module-edit__form-inputs-wrapper-title {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 25px 0;
}

.module-edit__form-inputs-wrapper-title-p {
  margin: 0;
}

.module-edit__form-inputs-wrapper-cover-link {
  width: 100%;
  max-width: 360px;
}

.module-edit__form-inputs-wrapper-cover-link-p {
  margin: 0;
  text-align: left;
}

.module-edit__form-inputs-wrapper-title-input { 
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  /* border-radius: 9px; */
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  color: white;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

.module-edit__form-inputs-wrapper-title-input:focus {
  outline: none;
  border-bottom: 2px solid #5DB0C7;
}

.module-edit__form-inputs-wrapper-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .module-edit__lessons-ul {
  width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    gap: 15px;
}

.module-edit__lessons-ul-li {
  cursor: pointer;
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #5DB0C7;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 7px 40px;
}

.module-edit__lessons-ul-li-img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
} */

.module-edit__lessons-ul-li-headline {
  margin: 0;
}

.module-edit__lessons-ul-li-buttons-btn {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
}

.module-edit__lessons-ul-li-addButton {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #5DB0C7;
  color: #5DB0C7;
  font-size: 18px;
  background-color: transparent;
}

.module-edit__addLesson {
      /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* position: absolute; */
    position: fixed;
    overflow: auto;
    z-index: 95;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 2% 0px;
    box-sizing: border-box;
}

.module-edit__addLesson-wrapper {
  position: relative;
  width: 100%;
  max-width: 720px;
  color: white;
  height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.course__edit-addLesson-wrapper-form {
  margin: 0 0 50px 0;
  height: 100%;
}

.course__edit-addLesson-wrapper-form-input {
  height: 35px;
  border: none;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
}

.course__edit-addLesson-wrapper-form-input:focus {
  outline: none;
  border-bottom: 2px solid #5DB0C7;
}

.course__edit-addLesson-wrapper-form-btn {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #5DB0C7;
  color: #5DB0C7;
  background-color: transparent;
  margin: 0 0 25px 0;
}

.lesson-edit {
  /* position: absolute; */
  position: fixed;
  overflow: auto;
  z-index: 85;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(3px);
  padding: 2% 0px;
  box-sizing: border-box;
}

.lesson-edit__wrapper {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  max-width: 768px;
}

.lesson-edit__headline {
  font-size: 36px;
  margin: 0 0 15px 0;
}

.lesson-edit__form {
  height: 100%;
}

.lesson-edit__form-inputs-wrapper-title {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 25px 0;
}

.lesson-edit__form-inputs-wrapper-title-p {
  margin: 0;
}

.lesson-edit__form-inputs-wrapper-title-input {
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  /* border-radius: 9px; */
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  color: white;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

.lesson-edit__form-inputs-wrapper-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px 0;
}

.lesson-edit__form-inputs-wrapper-cover-link-p {
  margin: 0;
}

.lesson-edit__form-inputs-wrapper-cover-link {
  width: 100%;
  max-width: 360px;
  /* text-align: left; */
}

.lesson-edit__form-inputs-wrapper-cover-link-p {
  margin: 0;
  text-align: left;
}

/* .add-user {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 0px;
  font-size: 20px;
  overflow: auto;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
} */

/* .add-user__close-btn {
  position: absolute;
  top: 3%;
  right: -5%;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #f91262;
  color: #f91262;
  background-color: transparent;
  border-radius: 51%;
  font-size: 16px;
} */

/* .add-user__wrapper {
  width: 100%;
  max-width: 720px;
  position: relative;
}

.add-user__headline {
  margin: 0 0 25px 0;
} */

/* .add-user__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.add-user__form-input {
  height: 35px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
  color: #fef9e3;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 320px;
  width: 100%;
  max-width: 320px;
}

.add-user__form-input:focus {
  outline: none;
  border-bottom: 2px solid #5DB0C7;
}

.add-user__form-btn {
  width: 180px;
  height: 50px;
  border: 2px solid rgb(93, 176, 199);
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  align-self: center;
  margin: 50px 0 0 0;
}

.add-user__form-select-wrapper {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user__form-select {
  padding: 7px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 2px solid #5DB0C7;
    border-radius: 5px;
    outline: none;
}

.add-user__form-select:active {
  border: 2px solid white;
}

.add-user__form-select-option {
  background-color: black;
  color: white;
} */

/* .add-user__form-ul {
  display: grid;
  box-sizing: border-box;
  padding: 0px;
  list-style: none;
  line-height: 2;
  overflow: hidden auto;
  gap: 15px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  width: 100%;
  margin: 0 0 50px 0;
} */

/* .add-user__form-ul-li {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 9px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  position: relative;
} */

/* .add-user__form-ul-li-p {
  margin: 0;
} */

/* .add-user__success-p {
  margin: 25px 0 0 0;
}

.add-user__success-btn {
  width: 230px;
  height: 40px;
  border: 2px solid rgb(93, 176, 199);
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  align-self: center;
  margin: 25px 0 0 0;
} */
/* .main__courses-student:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.main__courses-student-active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
} */

.main__courses-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1439px) {
  .main__courses {
    max-width: 1024px;
    padding: 25px;
  }
  .main__courses-headline {
    font-size: 36px;
    max-width: 100%;
    /* max-width: 500px; */
  }
  .main__courses-list {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    /* margin: 50px 0 0 auto; */
  }
  .main__courses-list-element {
    height: 320px;
  }
}

@media screen and (max-width: 1279px) {
  .main_courses-wrapper {
    /* margin: 0 15% 0 0; */
  }

  /* .main__courses-headline {
    font-size: 36px;
    max-width: 100%; 
  } */
}

@media screen and (max-width: 1023px) {
  /* .main__courses {
    padding: 45px;
    
  } */
  /* .main__courses-headline {
    font-size: 36px;
    max-width: 100%;
   
  } */
  .main__courses {
    max-width: 1024px;
  }
  .main__courses-content {
    padding: 45px;
  }
  .main_courses-wrapper {
    /* margin: 0 auto 0 auto; */
    height: 100%;
    justify-content: center;
  }

  .main__courses-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__courses-span {
    left: 45px;
  }
}

@media screen and (max-width: 767px) {
  /* .main__courses {
    padding: 20px;
  } */

  .main__courses-content {
    padding: 20px;
  }
  .main_courses-wrapper {
    /* margin: auto auto 0 auto; */
    padding: 0 25px;
    box-sizing: border-box;
  }
  .main__courses-list {
    grid-template-columns: repeat(2, 260px);
    margin: 50px 0 0 0;
    justify-content: center;
  } 
  .main__courses-headline {
    font-size: 25px;
  }
  .main__courses-span {
    left: 0;
    top: 70%;
    font-size: 12px;
  }
  .main__courses-navigation-wrapper {
    margin: auto 0 0 0;
    padding: 30px;
  }
  .add-user {
    /* align-items: flex-start; */
    padding: 50px 0;
  } 
}

@media screen and (max-width: 550px) {
  .add-user__close-btn {
    top: -50px;
    right: 10px;
  }
  .main__courses-list {
    grid-template-columns: repeat(1, 240px);
  } 
  .add-user__form {
    padding: 0 20px;
  }
  .add-user__headline {
    font-size: 20px;
  }
}