.module {
  /* background-color: #d37c52; */
  background-color: black;
  display: flex;
  min-height: 100vh;
  /* padding: 1% 1% 1% 0; */
  box-sizing: border-box;
  position: relative;
}

.module__menu {
  width: 5%;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #292A2F;
  /* background-color: #d37c52; */
}

.module__menu_opened {
  width: 40%;
}

.module__content {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-radius: 9px 0 0 9px;
  /* background-color: white; */
  padding: 5% 15%;
  text-align: left;
  font-family: 'Monda', sans-serif;
}

.module__navigation-list {
  /* min-width: 10%; */
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 5% 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.module__navigation-list:hover {
  cursor: pointer;
}

.module__navigation-list-li:not(.module__navigation-list-li:last-of-type) {
  margin: 0 0 20px 0;
}

.module__content-img {
  width: 100%;
}

.lesson__div-chat-user {
  background-color: transparent;

}
.lesson__div-chat-user-name {
  min-width: 90px;
  min-height: 45px;
  color: white;
}
/* .lesson__div-chat-user-avatar {
  max-width: 85px;
  border-radius: 50px;
} */
.lesson__div-chat-messages-message {
  color: yellowgreen;
}
.lesson__div-chat-messages-message_recepient-message {
  color: red;
}

.side__links-link{
  padding: 0 0 0 15px;
  border-radius: 0 9px 9px 0;
}

@media screen and (max-width: 767px) {
  .module__content {
    border-radius: 0;
    padding: 5%;
  }
}