.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 10%; */
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 0 0 auto 0;
}

.header__logo {
  max-width: 55px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 420px;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  font-family: 'Carlito', sans-serif;
}

.header__nav-list-element-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  /* font-weight: 700; */
  transition: color 0.5s ease-in-out;
}

.header__nav-list-element-link:hover {
  color: #f5441e;
}

@media screen and (max-width: 1439px) {
  .header {
    /* padding: 10px 10%; */
  }
}

/* .header__nav-list-element-link:hover {
  color: #f5441e;
} */
/* .header__nav-list-element {
  text-transform: uppercase;
  color: #f7f50e;
} */
/* .main__courses-nav {
  margin: 0 0 0 auto;
  padding: 20px 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.main__courses-logo {
  max-width: 60px;
}

.main__courses-nav-ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 15px;
  margin: 0 0 0 auto;
  color: white;
}

.main__courses-nav-ul-li-a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.25s ease-in-out;
}

.main__courses-nav-ul-li-a:hover {
  color: red
} */

/* @media screen and (max-width: 767px) {
  .header {
    padding: 20px 0;
    translate: -100%;
  }
} */
