.delete-course__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.delete-course__buttons button {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 7px 10px;
  border: 2px solid rgb(93, 176, 199);
  transition: all 0.25s ease-in-out;
}

.delete-course__buttons button:hover {
  background-color: rgb(93, 176, 199);
  border: 2px solid transparent;
  color: white;
}