@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup-file {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-file .container {
  background-color: #1A191E;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 12px;
  gap: 15px;
}

.popup-file h3 {
  color: white;
  font-weight: 500;
  margin: 0 auto 15px auto;
}

.popup-file .container img, .popup-file .container video {
  width: 100%;
  max-width: 120px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 9px;
}

.popup-file .container audio {
  max-width: 240px;
}

.popup-file-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.popup-file .container button {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 9px;
  background-color: transparent;
  color: #5DB0C7;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.popup-file .container button:hover {
  background-color: #2D2C32;
}

.popup-file__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  align-items: center;
  width: 100%;
  width: 320px;
  max-height: 540px;
  overflow: auto;
}

.popup-file__ul::-webkit-scrollbar {
  width: 5px;
  width: 5px;
  background-color: #EBEBEB;
  border-radius: 9px;
}

.popup-file__ul::-webkit-scrollbar-thumb {
  width: 5px;
  /* height: 20px; */
  background-color: #5DB0C7;
  border-radius: 9px;
}

.popup-file__ul li {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-file__ul-li-actions {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

#delete-file-attach {
  padding: 0
}

.popup-file__form-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  /* border-radius: 9px; */
  /* background-color: #2D2C32; */
  border: none;
  border-bottom: 2px solid white;
  color: white;
  background-color: transparent;
  outline: none;
}

.popup-file__form {
  width: 100%;
}

.popup-file__form-input:focus {
  border-bottom: 2px solid #5DB0C7;
}

.popup-file__form-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  animation: loader 3s ease-in-out alternate infinite;
}