.module__side {
  /* background-color: #d37c52; */
  background-color: #292A2F;
  position: fixed;
  height: 100%;
  width: 310px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.module__side-button {
  background-color: transparent;
  
}

.module__side-button svg path {
  transition: all 0.25s ease-in-out;
}

.module__side-button:hover svg path {
  fill: white;
}

@media screen and (max-width: 767px) {
  .module__side {
    min-width: 270px;
    left: -100%;
  }
}