.welcome {
  height: 100vh;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4f90510d-3dcd-4a9c-a1ee-5dbf41625fa8/dez8j05-d1e9cf26-8550-49d3-beec-40a4235adedd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRmOTA1MTBkLTNkY2QtNGE5Yy1hMWVlLTVkYmY0MTYyNWZhOFwvZGV6OGowNS1kMWU5Y2YyNi04NTUwLTQ5ZDMtYmVlYy00MGE0MjM1YWRlZGQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Sy9_XxpVLHYlHhqYgzoF8C0KbMkX60icBNtOSCvAXdE);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome__button {
  min-width: 160px;
  min-height: 75px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%);
  border: 2px solid #f7f50e;
  background-color: transparent;
  /* text-shadow: 0 0 15px #f7f50e; */
  color: #f7f50e;
  position: relative;
  cursor: pointer;
  /* border: none; */
}
.welcome__button:hover {
  text-shadow: 0 0 10px #f7f50e, 0 0 15px #f7f50e;
  /* box-shadow: 0 0 20px #f7f50e; */
}
.welcome__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 55%;
  left: 80%;
  background-color: #f7f50e;
  rotate: -25deg;
  /* background-color: transparent; */
  /* border: 2px solid #f7f50e; */
}